{% extends 'base_auth.html' %}


{% block content %}



         <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-body"style="top: 100px;">
                    <div class="card-title py-3">
                        <h4>Login to your account</h4>
                    </div>

                    <form action="{% url 'login' %}" method="post">
                        <br>

                        {% csrf_token %}

                        {% include 'partials/_messages.html' %}

                        <div class="form-group">
                            <input 
                            type="text" 
                            name="username"

                            value="{{fieldValues.username}}"
                            placeholder="username"
                            id="usernameField" 
                            class="form-control form-control-sm">
                        </div>
                        <br>
                        <div class="form-group">
                            <input 
                            type="password" 
                            name="password" 
                            placeholder="Password"
                            id="passwordField" 
                            class="form-control form-control-sm">
                            <small class="float-right py-3 showPasswordToggle">SHOW</small>

                        </div>
                        <input type="submit" value="Login" style="width: 100%;" class="btn btn-block btn-primary submit-btn">
                    </form>
                </div>
                    
            </div>


        </div>
        <div class="col-md-4"></div>
    </div>
        





{% endblock content %}








