{% extends 'base_auth.html' %}
{% load static %}

{% block content %}


    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-body"style="top: 100px;">
                    <div class="card-title py-3">
                        <h4>Register for a free account</h4>
                    </div>

                    <form action="{% url 'register' %}" method="post">
                        <br>

                        {% csrf_token %}

                        {% include 'partials/_messages.html' %}

                        <div class="form-group">
                            <input 
                            type="text" 
                            name="username"

                            value="{{fieldValues.username}}"
                            placeholder="username"
                            id="usernameField" 
                            class="form-control form-control-sm">
                        </div>
                        <div class="invalid_feedback invalid-feedback" style="display: none;">

                        </div>

                        <div>
                            <p class="text-sm text-success usernameSuccessOutput"></p>
                        </div>

                        <br>
                        <div class="form-group">
                            <input 
                            type="email" 
                            placeholder="email"
                            name="email"
                            value="{{fieldValues.email}}"
                            id="emailField" 
                            class="form-control form-control-sm">

                            

                        </div>
                        <div class="email_FeedBack invalid-feedback" style="display: none;">

                        </div>
                        <div>
                            <p class="text-sm text-success emailSuccessOutput"></p>
                        </div>
                        <br>
                        <div class="form-group">
                            <input 
                            type="password" 
                            name="password" 
                            placeholder="Password"
                            id="passwordField" 
                            class="form-control form-control-sm">
                            <small class="float-right py-3 showPasswordToggle">SHOW</small>

                        </div>
                        <input type="submit" value="Register" style="width: 100%;" class="btn btn-block btn-primary submit-btn">
                    </form>
                </div>
                    
            </div>


        </div>
        <div class="col-md-4"></div>
    </div>
        
    <script src="{% static 'js/register.js' %}"></script>



{% endblock content %}

